@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Real Estator</h1>
    <p class="lead">Real Estator is used to manage properties and submit maintenance requests</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            Real Estator gives you the ability to view properies you manage with views of the location on a map along with having the ability for tentants to put it 
            service requests for maintaince on the place they are staying.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Maintenance Request</h2>
        <p>Submit a maintenance request to your landlord view the link below.</p>
        @Html.ActionLink("Create Request", "Create", "Requests", protocol: null, hostName: null, fragment: "MyAnchor", routeValues: null, htmlAttributes: null)
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>